---
title: Testimonials
---

<script>
import Testimonials from '$lib/Testimonials.svelte'
</script>

Over my web development career I've had the pleasure of working with various clients — here's what they have to say:

<Testimonials />
