---
title: Krab Bij Kas
description: I made my own app to keep track of finances
color: '#457461'
date: 2022-01-31T23:00:00Z
icon: '/uploads/krab.png'
iconBackground: '#457461'
tech: Nuxt, Vue, SCSS, Node.js, MongoDB
featured: true
---

More than a year ago, I was looking for a way to keep track of my money. My demands were specific as usual, and nothing like my desired app existed. As such, I built it myself!

![Index page featuring list of transactions](https://i.imgur.com/Va5ndXt.png)
![Categories page showing all categories and the money handled under them](https://i.imgur.com/ZYYJhlP.png)
![Recurring payments](https://i.imgur.com/s7LOhRJ.png)
![Overview page with a chart for each category](https://i.imgur.com/saygazT.png)
![Prices scatter plot](https://i.imgur.com/9EtyFY3.png)
![Mobile views of all pages](https://i.imgur.com/Di1XpdC.png)
