[data-modal-open="true"] .desktop, [data-modal-open="true"] .mobile {
    opacity: 0;
}

.mobile {
    display: none;
}

.timeline {
    position: fixed;
    bottom: 7rem;
    left: 50%; 
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 200ms;
    
    width: 90%;
    max-width: 900px;
    pointer-events: none;
}

.timeline svg {
    width: 100%;
}

.steps {
    width: 100%;
}

.steps .step {
    font-family: 'Inter';
    position: absolute;
    left: var(--x);
    bottom: calc(83px - var(--bottom));
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
    gap: 8px;
    height: 24px;
    user-select: none;
    pointer-events: initial;
    cursor: pointer;
}

.steps .step .dot:hover {
    filter: contrast(0.8);
}

.step .dot {
    background-color: #023059;
    width: 22px;
    min-height: 22px;
    border: 2px solid white;
    border-radius: 50%;
    transition: background-color 200ms;
}

.step.passed .dot {
    background-color: #2E97F2;
}

.step h3:empty, .step h4:empty {
    display: none;
}

.step h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
}

.step h4 {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}

/* svg, svg * {
    transition: all 3s;
} */

.buttons {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}

.round-button {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #2E97F2;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 200ms, opacity 200ms;
    pointer-events: initial;
}

.round-button svg {
    display: block;
}

[data-prev-visible="false"] .round-button.prev, [data-next-visible="false"] .round-button.next {
    background-color: gray;
}

.mobile {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    padding-top: 100px;
    pointer-events: none;
}

.mobile-content {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.mobile .round-button {
    border-color: transparent;
}

.mobile h2 {
    margin: 0;
    font-size: 20px;
}

.mobile p {
    margin: 0;
    margin-top: 10px;
    font-size: 1rem;
}

@media (max-width: 900px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}