:root {
	--body: white;
	--text: #465c52;
	--text-title: black;

	--anchor: #1d9961;
	--border: rgba(0, 0, 0, 0.1);

	--header-bg: #f3fcf8;
	--header-text-link: #465c52;
	--header-text-primary: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body: #202328;
		--text: #929292;
		--text-title: #ffffff;

		--border: rgba(255, 255, 255, 0.1);

		--header-bg: #1b1b1b;
		--header-text-primary: white;
		--header-text-link: #bbb5b5;
	}
}

html,
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background: var(--body);
	color: var(--text);
	margin-bottom: 100px;
}

body,
input,
textarea {
	font-family: inherit;
}

h1,
h2,
h3 {
	color: var(--text-title);
}

h2 {
	margin-top: 50px;
}

.post h2 {
	margin-top: 100px;
}

h1 {
	margin-top: 80px;
}

p.paragraph {
	color: var(--text);
	margin: 20px 0;
}

.post img,
.post-img {
	max-width: 100%;
	border: 1px solid #e0ebe6;
	display: block;
	margin: 20px 0;
}

a.anchor {
	color: var(--anchor);
}
