
:root {

	--body: white;
	--text: #465C52;
	--text-title: black;

	--header-bg: #F3FCF8;
	--header-text-link: #465C52;
	--header-text-primary: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body: #202328;
		--text: #929292;
		--text-title: #ffffff;

		--header-bg: #1b1b1b;
		--header-text-primary: white;
		--header-text-link: #bbb5b5;
	}
}

html, body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background: var(--body);
	color: var(--text);
}

body, input, textarea {
	font-family: inherit;
}

h1, h2, h3 {
	color: var(--text-title);
}

h1 {
	margin-top: 80px;
}

p.paragraph {
	color: var(--text);
	margin: 20px 0;
}